#block-foot-block-foot > div.content > p {  width: 33% !important;  color: #808080; font-size: 11px; line-height: 15px !important; float: left; padding: 0px; margin: 0px; display: block; }
#block-foot-block-foot > div.content > p > a {color: #808080;}
#block-foot-block-foot > div.content > p > a:hover {color: white}




#block-foot-block-foot > div.content { height: inherit; margin-bottom: 0px; padding-bottom: 5px; padding-top: 5px; margin-top: 5px;;  }
#block-foot-block-foot {margin: 0px; padding: 0px; }
#footer { padding-bottom: 12px !important; padding-top: 12px !important; height: 55px; } 


#block-foot-block-foot > div.content > p {text-align: center; }
#block-foot-block-foot > div.content > p:first-child {text-align: left; }
#block-foot-block-foot > div.content > p:last-child {text-align: right; }