div#block-mytheme-block-mytheme > div.content > div#Ban > a {display: nones; position: absolute; opacity: 0;}

div#block-mytheme-block-mytheme > div.content > div#Ban > a:first-child  {opacity: 1;}

 div#Banner_OVER  > a { position: absolute;}
 div#Banner_OVER {z-index: 10; position: absolute; left: 50px;}


div#block-mytheme-block-mytheme > div.content > a:first-child  {display: block;}

h2 { font-family: verdana !important ; font-size: 22px!important;  line-height: 26px!important; font-weight: bold;}

h1.p {font-size: 15px !important; font-weight: normal !important; line-height: 14px !important; font-family: verdana !important;}