
/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
 */
html {


background-repeat: repeat-y;
background-color: #f4f4f4;
background-position: 50%, 0%;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, big, em, img, q, small, strong, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, div.section, #page-wrapper   {
border: 0;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
text-decoration: none;
list-style: none;
}



body {

font-family: Verdana, 'source_sans_proregular';
font-size: 16px; line-height: 24px;
width: 960px;
margin: auto;
margin-top: 45px; margin-bottom: 45px;
padding: 32px;
background-color: white; 


  -moz-box-shadow:    0px 0px 4px 4px #ddd;
  -webkit-box-shadow: 0px 0px 4px 4px #ddd;
  box-shadow:        0px 0px 4px 4px #ddd;

}

#navigation > div.section > h2 {display: none;}
#navigation{
border-top: 4px solid red;
border-bottom: 4px solid red;
background-color: white;
}










#sidebar-first,
#sidebar-second {
  float: left;
  position: absolute;
   left:  20px;
}



#sidebar-first{
top: 150px;
}

#sidebar-second{
top: 150px;
}

#breadcrumb {
display: none;
}


#block-system-main-menu,
.element-invisible,
.field-label,
#node-2 > h2,
.node-readmore,
a.feed-icon, 
#block-system-main-menu > h2 
{display: none;}

div.content {height_: 1372px;}
div#block-mytheme-block-mytheme {height: 372px;}
div.main#div.content {height_: inheriht;}



div#navigation > div > ul  { height: 48px;}
div#navigation > div > ul > li  {}
div#navigation > div > ul > li > a {padding-top: 12px; padding-bottom: 12px; padding-left: 20px; padding-right: 20px; display: block; line-height: 12px;  text-decoration: none; font-family: 'source_sans_probold'; font-size: 20px; line-height: 24px;  float: left; position: relative; display: table-cell; color: black;}
div#navigation > div > ul > li > a:hover {background-color: #f0f0f0;}



div#content {
padding: 45px; margin: 0px; 
}


div#content  h1{
    font-family: 'source_sans_probold';
font-size: 220%;
padding-bottom: 3%;
}


div#content  h2{
    font-family: 'source_sans_semibold';
font-size: 24px; line-height: 26px;
}

div#content  h2{
    font-family: 'source_sans_regular';
font-size: 14px; line-height: 17px;
}



#footer {
background-color: #c6c6c6;
padding-top: 20px; margin-top: 20px; 
padding-bottom: 20px; margin-bottom: 0px; 
margin: -32px;
margin-top: 0px; 
z-index: -5;
padding: 32px;
}







@font-face {
    font-family: 'source_sans_proregular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('fonts/sourcesanspro-semibold-webfont.eot');
    src: url('fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'source_sans_probold';
    src: url('fonts/sourcesanspro-bold-webfont.eot');
    src: url('fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}








.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
td.revision-current {
  background: #ffc;
}


div#block-mytheme-block-mytheme > div.content > div#Ban > a {display: nones; position: absolute; opacity: 0;}

div#block-mytheme-block-mytheme > div.content > div#Ban > a:first-child  {opacity: 1;}

 div#Banner_OVER  > a { position: absolute;}
 div#Banner_OVER {z-index: 10; position: absolute; left: 50px;}


div#block-mytheme-block-mytheme > div.content > a:first-child  {display: block;}

h2 { font-family: verdana !important ; font-size: 22px!important;  line-height: 26px!important; font-weight: bold;}

h1.p {font-size: 15px !important; font-weight: normal !important; line-height: 14px !important; font-family: verdana !important;}




#block-marki-block-marki {overflow: hidden; border-top: 4px solid red; border-bottom: 4px solid red;
padding-top: 5px; padding-bottom: 5px; margin-top: 20px !important; margin-botom: 20px !important; }
#block-marki-block-marki > div.content {height: inherit;}

#marki > img {padding: 10px; float: left; display: block; padding-left: 30px; padding-right: 30px; }
#marki {width: 5200px;}


#block-malefoty-block-malefoty > div.content {height: inherit; margin-bottom: 4%; margin-top: -10px; }
#block-malefoty-block-malefoty > div.content > a:first-child{float: left; margin-left: -45px;  }
#block-malefoty-block-malefoty > div.content > a{ margin: 0px auto; margin-left: 45px; }
#block-malefoty-block-malefoty > div.content > a:last-child{float: right; margin-right: -45px; }



/* Field display */
.field .field-label {
  font-weight: bold;
}
.field-label-inline .field-label,
.field-label-inline .field-items {
  float:left; /*LTR*/
}

/* Form display */
form .field-multiple-table {
  margin: 0;
}
form .field-multiple-table th.field-label {
  padding-left: 0; /*LTR*/
}
form .field-multiple-table td.field-multiple-drag {
  width: 30px;
  padding-right: 0; /*LTR*/
}
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding-right: .5em; /*LTR*/
}

form .field-add-more-submit {
  margin: .5em 0 0;
}


#block-foot-block-foot > div.content > p {  width: 33% !important;  color: #808080; font-size: 11px; line-height: 15px !important; float: left; padding: 0px; margin: 0px; display: block; }
#block-foot-block-foot > div.content > p > a {color: #808080;}
#block-foot-block-foot > div.content > p > a:hover {color: white}




#block-foot-block-foot > div.content { height: inherit; margin-bottom: 0px; padding-bottom: 5px; padding-top: 5px; margin-top: 5px;;  }
#block-foot-block-foot {margin: 0px; padding: 0px; }
#footer { padding-bottom: 12px !important; padding-top: 12px !important; height: 55px; }


#block-foot-block-foot > div.content > p {text-align: center; }
#block-foot-block-foot > div.content > p:first-child {text-align: left; }
#block-foot-block-foot > div.content > p:last-child {text-align: right; }